ipython>=8.10
jupyterlab>=3.0
notebook
kedro~=1.0.0
kedro-datasets
kedro-viz
sqlalchemy
pandas
matplotlib
seaborn
scipy
scikit-learn
scikit-optimize
pyarrow
fastparquet
imbalanced-learn
xgboost
catboost
ipywidgets